*{
    padding: 0;
    margin: 0;
    /* vh una medida que tiene que ver con el view port */
}
main{
    display: flex;
     margin: 2em;
    background-color: lightgray;
    width: 40%;
    height: 30em;
    align-items: center;
    justify-content: center;
}
div{
    width: 25%;
    background-color: lightyellow;
    padding: 1em;
}
